{% extends '::base.html.twig' %}


    
{% block titre -%}
<h4>Liste des équipes </h4>
  {% endblock %}
{% block panelbody -%}
<div class="panel-body">
     <p class="bg-info"><span class="glyphicon glyphicon-tower" aria-hidden="true"> Ligue :  {{ entity2.nomLigue }}</span><br><br>
            <span class="glyphicon glyphicon-record" aria-hidden="true">Saison :  {{ entity3.Libelle }}</span><br>
      
       </p>
       
</div>
{% endblock %}

{% block tableau -%}
 <table class="table table-hover" >
        <thead>
            <tr>
                 <th>Nom équipe</th>
                <th></th>
               
               
            </tr>
        </thead>
        <tbody
            
        {% for entity in entities %}
                <tr style="height: 20px;width:50px;" >
               
                
             
                <td style="height: 20%;width:50px; "> <img src={{asset('bootstrap/fonts/logoEquipeMin/')}}{{ entity.id }}.png> </td>

                 <td style="width:50px;" ><br><a href="{{ path('joueur', { 'equipe': entity.id }) }}">{{ entity.nomEquipe }}</a></td>

                 <td style="width:50px;" ><br><a href="{{ path('equipe_show', { 'id': entity.id }) }}">{{ entity.nomEquipe }}</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block body -%}

        <ul>
        <li>
            <a href="{{ path('equipe_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
  
