{% extends '::base.html.twig' %}


    
{% block titre -%}
Equipe list
  {% endblock %}
{% block panelbody -%}
<div class="panel-body">
    <p class="bg-success">Ligue:<br>
        Saison:<br>
       </p>
</div>
{% endblock %}

{% block tableau -%}
 <table class="table table-hover" >
        <thead>
            <tr>
                <th>Nom équipe</th>
               
                <th>Logo</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
                <tr class="info" style="height:20px;">
                <td><a href="{{ path('equipe_show', { 'id': entity.id }) }}">{{ entity.nomEquipe }}</a></td>
                
             
                <td> <img src={{asset('bootstrap/fonts/logoEquipe/')}}{{ entity.id }}.png> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block body -%}

        <ul>
        <li>
            <a href="{{ path('equipe_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
  
