{% extends '::base.html.twig' %}

{% block titre -%}
<h4>Matche list
</h4>
{% endblock %}


{% block panelbody -%}


<form method="GET" action="{{ path('matche') }}">
    <div class="panel-body">
        <p class="bg-info"><span class="glyphicon glyphicon-tower" aria-hidden="true">  Ligue: {{ entityLigue.nomLigue }}</span><br><br>
            <span class="glyphicon glyphicon-record" aria-hidden="true">   Saison: {{entity3.libelle}}</span><br><br>
            <span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true">   <label for="jour">  Journeé:</label>
                <select style="width: 150px;" name="journee" id="jour">
            {% for entity in libellejournne %}
                        <option id={{entity.id}} value ={{entity.id}} style="width:  50px;">{{entity.libelle}}</option>     
           {% endfor%}
                    </select>
                    <button class="btn btn-info"  type="submit"  >Changer</button></span><br>
                <span class="glyphicon glyphicon-time" aria-hidden="true">     Date début Journée:{% for entity in dateDebJournee %}</span>
                {{entity.dateDebut|date('Y-m-d') }}
                {%endfor%}
                <br><br>
                <span class="glyphicon glyphicon-dashboard" aria-hidden="true">  Date Fin Journée:{% for entity in dateFinJournee %}</span>

                {{entity.dateFin|date('Y-m-d') }}
                {%endfor%}
            </p>
    </form>


</div>
{% endblock %}



{% block tableau -%}

<table class="table table-hover" >
    <thead>
        <tr>
            <th>Equipe 1</th>
            <th>Date et Heure</th>


            <th>Equipe 2</th>
            <th>Détail</th>

        </tr>
    </thead>
    <tbody>

{% if urlidjournee >0 %}
    {% for entity in entities %}


        {% for listeMj in listeMatcheJournee %}
                  {% if listeMj.id is sameas(entity.id) %}

        <tr >
            <td width="40%">         
                <img src="{{asset('bootstrap/fonts/logoEquipeMinMatche/')}}{{ entity.idEquipe }}.png">{{ entity.idEquipe }}
            </td>

            <td width="20%"> <span class="glyphicon glyphicon-calendar" aria-hidden="true">       {{ entity.date|date('Y-m-d') }}</span><br><br>
                <span class="glyphicon glyphicon-time" aria-hidden="true">     {{ entity.date|date('H:i') }}</span> 
            </td>



            <td width="40%"><img src="{{asset('bootstrap/fonts/logoEquipeMinMatche/')}}{{ entity.idEquipe2 }}.png">{{entity.idEquipe2}}</td>
            <td ><a href="{{ path('butmarque', { 'matche': entity.id }) }}">  <button type="button" class="btn btn-info">Détail</button>                </a></td>
        </tr>

                  {% endif %}
                {% endfor%}



        {% endfor %}


            {% else%}
    <p class="bg-danger" style="width: 350px; ">  Choissisez la journée</p>
            {%endif%}
</tbody>
</table>


    {% endblock %}
 
