<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ftf!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.css')}}" />
    <!--    <link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.min.css')}}"  /> -->

        <link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap-theme.css')}}"  />
    <!--    <link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap-theme.min.css')}}"  /> -->


        <!--Style que nous allons utiliser-->
        <link rel="stylesheet" href="{{asset('bootstrap/css/colorbox.css')}}"  />
        <link rel="stylesheet" href="{{asset('bootstrap/css/gabarits.css')}}"  />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />




    </head>


    <body> 

        <!-- ENTETE --> 

        <div id="header"> 
            <img src="{{asset('bootstrap/fonts/LOGO.png')}}">
            <!-- Single button -->

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('home') }}">Home</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                       <ul class="nav navbar-nav">
                            <li class="active"><a href="{{ path('saison') }}">Saison<span class="sr-only">(current)</span></a></li>
                            <li><a href="{{ path('matche') }}">Match</a></li>
                            <li class="dropdown">
                                <a href="{{ path('journee') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Journées <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('journee') }}">Lister</a></li>
                                   
                                  
                                </ul>
                            </li>
                             <li><a href="{{ path('equipe') }}">Equipe</a></li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">


                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <!-- CONTENU --> 

            <div id="content_float"> 
                <div id="content"> 
                        
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            {% block titre %}
                                federation tunisienne de football
                                {% endblock %}
                            </div>
                        </div>

                {% block panelbody -%}
               {% endblock %}

                        {% block tableau %}


                        {% endblock %}

                     {% block body %}


               {% endblock %}
                    </div>
                </div>

                <!-- COLONNE GAUCHE --> 
                <div id="left"> 
                   
                    {% block left %}
                    <img src="{{asset('bootstrap/fonts/logoEquipeMin/left.jpg')}}">
                     {% endblock %}
                </div> 
                <!-- COLONNE DROITE --> 
                <div id="right"> 
                  {% block right %}
                     <img src="{{asset('bootstrap/fonts/logoEquipeMin/right.jpg')}}">   
                     {% endblock %}
                </div> 

                <hr class="clear" /> 



                <!-- PIED DE PAGE --> 
                <div id="footer"> 
                    <h2>footer</h2> 
                </div> 

        </body> 


    {% block javascripts %}
        <script src="{{asset('bootstrap/js/bootstrap.js')}}"></script>
        <script src="{{asset('bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('bootstrap/js/npm.js')}}"></script>
<script src="{{asset('https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')}}"></script>
 <!-- Latest compiled and minified JavaScript -->
 <script src="{{asset('http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')}}"></script>
    {% endblock %}
    </body>
</html>
