{% extends '::base.html.twig' %}


{% block titre -%}
<h4>Journee list </h4>
  {% endblock %}

  {% block panelbody -%}
<div class="panel-body">
    <h5> <p class="bg-info">Ligue :  {{ entities2.nomLigue }}<br> Saison :  {{ entities3.libelle }} <br></h5>
       
       </p>
</div>
{% endblock %}

{% block tableau -%}
   <table class="table table-hover" >
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr style="height: 20px;" >
                <td style="width:25%;"><a href="{{ path('matche', { 'equipe': entity.id }) }}">{{ entity.libelle }}</a></td>
                <td style="width:35%;" >{% if entity.dateDebut %}{{ entity.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td style="width:35%;" >{% if entity.dateFin %}{{ entity.dateFin|date('Y-m-d') }}{% endif %}</td>
                
               
            </tr>
        {% endfor %}
        </tbody>
    </table>

 {% endblock %}      
{% block body -%}

        <ul>
        <li>
            <a href="{{ path('journee_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}