{% extends '::base.html.twig' %}

{% block titre -%}
<h4>Classement list</h4>
  {% endblock %}

{%block classementactive%}
class="active"
{%endblock%}

 {% block panelbody -%}
<div class="panel-body">
    <h5> <p class="bg-info">Ligue :  {{ entity2.nomLigue }}<br>
            Saison :  {{ entity3.Libelle }}<br></h5>

</p>
</div>
{% endblock %}
{% block tableau -%}
<table class="table table-hover">
    <thead>
        <tr>
            <th >Rang</th>
            <th style="width: 850px; ">Equipe</th>

            <th >MJ</th>
            <th>MG</th>
            <th>MP</th>
            <th style="width:70px; ">MN</th>
            <th>BM</th>
            <th>BC</th>
            <th style="width:80px ;">DIFF</th>
            <th >Points</th>


        </tr>
    </thead>
    <tbody>



    {% set i = 0 %}
    {% for entity in entities %}
                      {% set i = i+1 %}
        <tr>
            <td>-</td>
            <td >


            {% for entityeq in entity4 %}
                  {% if entityeq.id is sameas(i) %}
                <img src={{asset('bootstrap/fonts/logoEquipeMin/')}}{{ entityeq.id }}.png>

                  {% endif %}


            {% endfor%} {{ entity.idEquipe }}</td>
            <td >0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>
               {{ entity.nbPoints }}</td>


        </tr>
        {% endfor %}

    </tbody>
</table>
 {% endblock %}
{% block body -%}

    {% endblock %}
