{% extends '::base.html.twig' %}

{% block titre -%}
    <h4>Classement list</h4>
{% endblock %}

{%block classementactive %}
    class="active"
{% endblock %}

{% block panelbody -%}
    <div class="panel-body">
        <h5> <p class="bg-info">Ligue :  {{ entity2.nomLigue }}<br>
                Saison :  {{ entity3.Libelle }}<br></h5>

    </p>
</div>
{% endblock %}
{% block tableau -%}
    <div style="display:inline-block;
  vertical-align:top;">
    <table class="table table-hover"  border=0    >
        <thead>  <tr>
            <th>Rang</th>
        </tr>
        </thead>
        <tbody>
 {% set i = 0 %}
   {% for entityeq in entity4 %}  
      
        <tr style="height:48px">
            
            <td style="height:48px">
               
                {% set i = i+1 %}
                {{i}} <br>
            </td>
  </tr>
  
   
     
 
 {% endfor %}
        </tbody>
    </table>
    </div>
        <div style="display:inline-block;
  vertical-align:top;">
 <table class="table table-hover" id="myTable" style= " max-width: 90%;margin-left: 48px;margin-top: -825px;" >
        <thead>
            <tr>
                
                <th style="width: 650px; ">Equipe</th>

                <th >MJ</th>
                <th>MG</th>
                <th>MP</th>
                <th style="width:70px; ">MN</th>
                <th>BM</th>
                <th>BC</th>
                <th style="width:80px ;">DIFF</th>
                <th >Points</th>


            </tr>
        </thead>
        <tbody>


            {% set values = [9, 16] %}

            {% set values = values|merge(['apple', 'orange','apple', 'orange'],['apple', 'orange','apple', 'orange']) %}
            {% set tempArray = {} %}
            {% set i = 0 %}

            {% for entityeq in entity4 %}
                {% set i = i+1 %}
                <tr style="height:48px">

                   
                    <td style="height:48px">

                        {% if entityeq.id is sameas(i) %}
                            <img src={{asset('bootstrap/fonts/logoEquipeMin/')}}{{ entityeq.id }}.png>
                            {{ entityeq.nomEquipe }}

                            {% set id = entityeq.id %}
                            {% set nom= entityeq.nomEquipe %}

                        {% endif %}
                    </td>

                    {% set mj = 0 %}{% set mg = 0 %}
                    {% set mp = 0 %}{% set mn = 0 %}{% set bm = 0 %}
                    {% set bc = 0 %}{% set df = 0 %}{% set p = 0 %}
                    {% for mat in matche %}

 
                            {% set pieces =  mat.resultat |split("-") %}                     
                        
                        
                        {% if entityeq.nomEquipe  == mat.idEquipe %}
                            {% set mj = mj + 1 %}

                            {% set bm = bm + pieces[0] %}
                            {% set bc = bc + pieces[1] %}
                            {% if pieces[0] > pieces[1] %}
                                {% set p =p+ 3 %}  
                                {% set mg = mg + 1 %}

                            {% endif%}
                            {% if pieces[0] == pieces[1] %}
                                {% set p =p+ 1 %}   
                                {% set mn = mn + 1 %}
                            {% endif%}
                            {% if pieces[0] < pieces[1] %}
                                {% set mp = mp + 1 %}
                            {% endif%}

                        {% endif%}

                        {% if entityeq.nomEquipe  ==mat.idEquipe2 %}
                            {% set mj = mj + 1 %}


                            {% set bm = bm + pieces[1] %}
                            {% set bc = bc + pieces[0] %}
                            {% if pieces[0] < pieces[1] %}
                                {% set p =p+ 3 %}  
                                {% set mg = mg + 1 %}

                            {% endif%}
                            {% if pieces[0] == pieces[1] %}
                                {% set p =p+ 1 %}    
                                {% set mn = mn + 1 %}
                            {% endif%}

                            {% if pieces[0] > pieces[1] %}
                                {% set mp = mp + 1 %}
                            {% endif%}

                        {% endif%}
                    {% endfor%} 
                    {% set df = bm - bc %}
            {% set tempArray = tempArray|merge({(id):(id),(nom):(nom), (mj):(mj),(mp):(mp),(mn):(mn),(bm):(bm),(bc):(bc),(df):(df),(p):(p)})  %}



            <td style="height:48px"> {{mj}}</td>
            <td style="height:48px">{{mg}}</td>
            <td style="height:48px">{{mp}}</td>
            <td style="height:48px">{{mn}}</td>
            <td style="height:48px">{{bm}}</td>
            <td style="height:48px">{{bc}}</td>

            <td style="height:48px">{{df}}</td>
            <td style="height:48px">{{p}}</td>

        </tr>
    {% endfor%} 







</tbody>
</table>
              
        </div>

{% endblock %}
{% block body -%}


{% endblock %}



