{% extends '::base.html.twig' %}



{% block titre -%}
    <h4>Butmarque list</h4>
{% endblock %}

{% block panelbody -%}
    <div class="panel-body">
        <h5> <p class="bg-info">Ligue :  {{ entities2.nomLigue }}<br>
                Saison :  {{ entities3.Libelle }}<br></h5>

    </p>
</div>
{% endblock %}






{% block tableau -%}
    <table class="table table-hover" >
        <thead>
            <tr>
                <th>Joueur</th>
                <th>Equipe</th>
                <th>Matche</th>
                <th>Minute</th>


            </tr>
        </thead>
        <tbody>
      
            {% for entity in entities %}
             {% if (entity.idMatch == id ) %}
                 {% for jou in joueur %}
                    {% if jou.nomPrenom == entity.idJoueur %}
                <tr style="height: 20px;" >
                    <td style="width:25%;">{{ entity.idJoueur }}</a></td>
                    
                     <td style="width:50%;">{{ jou.idEquipe }}</a></td>
                    
                    <td style="width:50%;">{{ entity.idMatch }}</a></td>
                    <td style="width:20%;">{{ entity.minute }}</a></td>

                </tr>
                 {% endif %}
                     {% endfor %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}    

{% block body -%}


 
    {% endblock %}

