{% extends '::base.html.twig' %}
{% block titre -%}
<h4>Contrat list </h4>
  {% endblock %}



        
        
        
       {% block tableau -%}
   <table class="table table-hover" >
        <thead>
            <tr>
                <th>Joueur</th>
                <th>Equipe</th>
                 <th>dateDebut</th>
                <th>Datefin</th>
                
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}

             {% if (entity.idEquipe == id ) %}

            <tr style="height: 20px;" >
                <td style="width:30%;">{{ entity.idJoueur }}</a></td>
                <td style="width:30%;">{{ entity.idEquipe }}</a></td>
                <td style="width:25%;" >{% if entity.dateDebut %}{{ entity.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td style="width:25%;" >{% if entity.dateFin %}{{ entity.dateFin|date('Y-m-d') }}{% endif %}</td>
                
               
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

 {% endblock %} 
{% block body -%}


        <ul>
        <li>
            <a href="{{ path('contrat_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>

{% endblock %}