{% extends '::base.html.twig' %}
{% block titre -%}
Joueur list
{% endblock %}


{% block tableau -%}
 <table class="table table-hover" >
    <thead>
        <tr>
            <th>Nomprenom</th>
            <th>Datenaissance</th>
            <th>Nationalite</th>

            <th>Id</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
             {% if (entity.idEquipe == id ) %}
            <tr>
                <td><a href="{{ path('joueur_show', { 'id': entity.id }) }}">{{ entity.nomPrenom }}</a></td>
                <td>{% if entity.datenaissance %}{{ entity.datenaissance|date('Y-m-d ') }}{% endif %}</td>
                <td>{{ entity.nationalite }}</td>

                <td>{{ entity.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('joueur_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('joueur_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>

            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        </table>
{% endblock %}
{% block body -%}





    <ul>
        <li>
            <a href="{{ path('joueur_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>

    {% endblock %}
